html {
    scroll-behavior: smooth;
}

.navbar {
    -webkit-box-shadow: 0 10px 6px -6px #aeaeae;
    -moz-box-shadow: 0 10px 6px -6px #aeaeae;
    box-shadow: 0 10px 6px -6px #aeaeae;
}

.navbar-nav li > .nav-link {
    text-transform: capitalize;
    color: #007bff;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 10px;
}

.navbar-nav li > .nav-link:hover {
    background-color: #007bff !important;
    color: #fff !important;
}

.navbar-nav li.active > .nav-link {
    background-color: #007bff !important;
    color: #fff !important;
}

.navbar-brand {
    color: #005cbf !important;
}

.bg-light {
    background-color: #ffffff !important;
}

a.perbuttonan > a:focus {
    background-color: #dc3545 !important;
    color: #fff !important;
}

.image-section-one {
    width: 250px;
    height: 100%;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid #b7b7be;
    border-radius: 50%;
    overflow: hidden;
}

.title {
    font-weight: bold;
    text-shadow: 0px 0px 3px #ffffff;
    color: #005cbf;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.subtitle {
    font-size: 14pt;
    text-shadow: 0px 0px 3px #ffffff;
    margin-bottom: 10%;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

.selengkapnya {
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}

.section-one {
    margin-top: 8%;
    margin-bottom: 8%;
}

.section-two {
    margin-top: 8%;
    margin-bottom: 8%;
}

.section-three {
    margin-top: 8%;
    margin-bottom: 8%;
}

.section-four {
    margin-top: 8%;
    margin-bottom: 8%;
}

.section-five {
    margin-top: 4%;
    margin-bottom: 8%;
}

.our-service {
    padding-top: 2%;
    padding-bottom: 2%;
}

.card-title {
    font-weight: bold;
}

.card-service {
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card-service::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card-service:hover {
    -webkit-transform: scale(1, 1.1);
    transform: scale(1, 1.1);
}

.card-service:hover::after {
    opacity: 1;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 1s;
}
.already-visible {
    transform: translateY(0);
    animation: none;
}

.title-section-three {
    text-align: center;
}

.subtitle-section-three {
    text-align: center;
}

.subtitle-section-social {
    text-align: center;
    margin-bottom: 30px;
}

.subtitle-section-skill {
    text-align: center;
    margin-bottom: 40px;
}

.img-feature {
    width: 80%;
}

.img-exeption {
    width: 70%;
}

.feature-section {
    margin-bottom: 10%;
}

hr.garis {
    width: 20%;
    color: #b7b7be;
    border-top: 2px solid;
}

.icon-skill {
    font-size: 5rem;
    line-height: 20%;
}

.social-media {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

.social-media-icon {
    font-size: 3rem;
    text-decoration: none !important;
    color: #e0e0e0;
}

a:focus {
    outline: none !important;
    box-shadow: none !important;
}

@keyframes come-in {
    to { transform: translateY(0); }
}

.service-title {
    font-weight: bold;
}
.service-text {
    font-size: 12pt;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.row-wrapper {
    position: relative !important;
}

.wave-one {
    z-index: -1;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 25px;
    border-radius: 35%;
    background: #005cbf;
    opacity: 0.5;
    animation: wave-one 15s infinite linear;
}

@keyframes wave-one {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}

.wave-two {
    z-index: -1;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 200px;
    right: 50px;
    border-radius: 35%;
    background: #005cbf;
    opacity: 0.5;
    animation: wave-two 15s infinite linear;
}

@keyframes wave-two {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}

.wave-three {
    z-index: -1;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 24px;
    border-radius: 35%;
    background: #005cbf;
    opacity: 0.5;
    animation: wave-three 15s infinite linear;
}

@keyframes wave-three {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}

.wave-four {
    z-index: -1;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 500px;
    right: 42px;
    border-radius: 35%;
    background: #005cbf;
    opacity: 0.5;
    animation: wave-four 15s infinite linear;
}

@keyframes wave-four {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}

.wave-five {
    z-index: -1;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 60px;
    left: 25px;
    border-radius: 35%;
    background: #005cbf;
    opacity: 0.5;
    animation: wave-five 15s infinite linear;
}

@keyframes wave-five {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}

/* mobile web view */
@media (max-width: 992px) {
    .image-section-one {
        position: unset;
        width: 200px;
    }

    .grid-social {
        width: 20% !important;
        padding-left: 22px;
    }
}

